version: 2
updates:
  # Root
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
      timezone: "Asia/Ho_Chi_Minh"
    open-pull-requests-limit: 6
    commit-message:
      prefix: "chore(deps)"
      include: "scope"
    labels:
      - "dependencies"
      - "dependabot"

  # Client
  - package-ecosystem: "npm"
    directory: "/client"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
      timezone: "Asia/Ho_Chi_Minh"
    open-pull-requests-limit: 4
    commit-message:
      prefix: "chore(deps)"
    labels:
      - "dependencies"
      - "client"

  # Server
  - package-ecosystem: "npm"
    directory: "/server"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "05:00"
      timezone: "Asia/Ho_Chi_Minh"
    open-pull-requests-limit: 4
    commit-message:
      prefix: "chore(deps)"
    labels:
      - "dependencies"
      - "server"
