.cart {
    &__container {
        padding: 2rem 2rem 2rem 3rem;
        height: max(fit-content, 100vh);
        &__title {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 3rem;
        }
        &__box {
            display: flex;
            gap: 3rem;
            flex-direction: column;
            @media (min-width: 1024px) {
                flex-direction: row;
            }

            &__main {
                flex: 3;
                &__list {
                    &__item {
                        height: 190px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 0.5rem 2rem;
                        width: 100%;
                        margin-bottom: 2rem;
                        box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.25);
                        &__image {
                            margin-left: 1rem;
                            margin-right: 2rem;
                            padding: 1rem;
                            object-fit: cover;
                            img {
                                display: inline-block;
                                text-align: center;
                                height: 100%;
                                width: 200px;
                                object-fit: contain;
                            }
                        }
                        &__info {
                            align-self: center;
                            width: 40%;
                            margin: 0 1rem;
                            display: flex;
                            flex-direction: column;
                            strong {
                                font-size: 1.2rem;
                                margin-bottom: 1rem;
                            }
                            p {
                                color: #4b4b4b;
                                font-weight: 700;
                            }
                        }

                        input {
                            align-self: center;
                            text-align: center;
                            padding: 0.5rem;
                            margin-right: 1rem;
                            height: 3rem;
                            width: 4.5rem;
                        }
                        &__price {
                            width: 10%;
                            text-align: center;
                            align-self: center;
                            margin: 0 2rem;
                        }
                        button {
                            align-self: center;
                            padding: 0.5rem;
                            height: 3rem;
                            width: 7rem;
                            font-weight: bold;
                        }
                    }
                }
                &__buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 1.5rem;
                    &__continue,
                    &__purchase {
                        width: 200px;
                        padding: 1rem;
                        box-shadow: 0 4px 4px 0 #00000025;
                    }
                    &__purchase {
                        background-color: #315cf4;
                        color: white;
                        border: none;
                    }
                }

                &__notification {
                    display: flex;
                    background-color: #00ff3731;
                    color: #21451b;
                    height: 100px;
                    padding: 1rem;
                    align-items: center;
                }
            }
            &__aside {
                flex: 1;
                display: flex;
                width: 100%;
                &__box {
                    width: 100%;
                    box-shadow: 4px 4px 6px 0 #00000025;
                    height: fit-content;
                    padding: 1rem 1.5rem;
                    border: 1px solid black;
                    &__coupon {
                        &__title {
                            margin: 1.5rem 0;
                            font-weight: bolder;
                            font-size: 32;
                        }
                        &__input {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            margin-bottom: 1rem;
                            input {
                                width: 100%;
                                padding: 0.5rem;
                            }
                            button {
                                padding: 0.5rem;
                                background-color: #315cf4;
                                color: white;
                            }
                        }
                    }
                    &__price {
                        &__list {
                            list-style-type: none;
                            padding: 0;
                            li {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                margin-bottom: 1rem;
                            }
                        }
                    }
                    &__payment {
                        h4 {
                            font-weight: bold;
                            margin-bottom: 1.5rem;
                        }
                    }
                }
            }
        }
        &__payment {
            h2 {
                margin-bottom: 2rem;
            }
            &__back {
                margin-bottom: 2rem;
                border: none;
                text-decoration: underline;
                background-color: #fff;
            }
            &__main {
                display: flex;
                flex-direction: row;
                gap: 40px;
            }
            &__form {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                h4 {
                    font-weight: bold;
                    margin-bottom: 1.5rem;
                }
                &__required {
                    color: red;
                }
            }
            &__aside {
                flex: 2;
                border-top: 12px solid #0066ff;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-left: 1px solid black;
                border-right: 1px solid black;
                height: fit-content;

                &__details {
                    padding: 20px;
                    h2 {
                        font-size: 26px;
                        margin-bottom: 2rem;
                        font-weight: bold;
                    }

                    &__price {
                        &__subtotal,
                        &__delivery,
                        &__discount {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 1.75rem;
                        }
                    }

                    &__total {
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 1.75rem;
                        font-weight: bold;
                    }
                }

                button {
                    width: 100%;
                    background-color: #0066ff;
                    color: #fff;
                    border: none;
                    padding: 10px 20px;
                    cursor: pointer;
                    font-weight: bold;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }
        }
    }
}
