.footer {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: row;
	padding: 1.25rem 1rem;
	&__about {
		display: flex;
		flex-direction: column;
		flex: 2;
		margin-left: 4rem;
		gap: 1rem;
	}
	&__menuGroup {
		flex: 3;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		gap: 1rem;
		&__menu {
			&__title {
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 1rem;
			}
			&__item {
				margin-bottom: 0.4rem;
				cursor: pointer;
				transition: 0.3s all ease-in-out;
				&:hover {
					color: gray;
				}
			}
		}
	}
}
