.home {
    &__hero {
        background-color: #01b9e2;
        position: relative;
        width: 90%;
        height: 500px;
        margin: 2rem auto 8rem auto;
        &__overlap {
            height: 100%;
            left: 83px;
            position: absolute;
            width: 486px;
            &__upto {
                color: white;
                font-size: 54px;
                font-weight: 400;
                height: 100%;
                position: absolute;
                top: 25%;
                letter-spacing: 0;
                line-height: normal;
                &__wrapper {
                    color: white;
                }
            }
            &__button {
                background-color: black;
                color: #ffffff;
                font-size: 20px;
                font-weight: 400;
                height: 65px;
                left: 1px;
                position: absolute;
                text-align: center;
                top: 347px;
                width: 251px;
            }
            &__iphone {
                height: 100%;
                left: 1163px;
                object-fit: cover;
                position: absolute;
                top: 0;
                width: 372px;
                mix-blend-mode: multiply;
            }
        }
    }
    &__product {
        width: 90%;
        margin: 4rem auto;
        &__header {
            display: flex;
            justify-content: space-between;
            &__title {
                font-weight: bold;
                margin-bottom: 2rem;
            }
        }

        &__menu {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            &__item {
                position: relative;
                padding-top: 1rem;
                height: fit-content;
                box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.1882352941);
                &__image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 200px;
                    margin-bottom: 1rem;
                    padding: 1rem;
                    cursor: pointer;
                    img {
                        display: inline-block;
                        text-align: center;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                &__wishlist {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 40px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #347988;
                    border-radius: 20px;
                    color: white;
                    opacity: 0;
                    transition: 0.2s opacity ease-in-out;
                }
                &__like {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 40px;
                    aspect-ratio: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    opacity: 0;
                    transition: 0.2s opacity ease-in-out;
                }
                button {
                    background-color: white;
                    color: #0047ff;
                    width: 113px;
                    height: 44px;
                    border: 1px solid #0047ff;
                    font-weight: bold;
                    border-radius: 20px;
                    transition: 0.3s all ease-in-out;
                    &:hover {
                        background-color: #0047ff;
                        color: white;
                    }
                }
                &:hover &__like {
                    opacity: 1;
                }
                &:hover &__wishlist {
                    opacity: 1;
                }
            }
        }
    }
}
